.focus-wrapper {
  margin: 2rem 0 0 0;
}

.focus-wrapper h1 {
  font-size: 2.5rem;
  margin: 0;
}

.focus-wrapper img {
  margin: 1rem 0 0 0;
  width: 20rem;
}

.focus-wrapper p {
  margin: 1rem 0 0 0;
  line-height: 1.5;
  color: gray;
}

.focus-wrapper button {
  margin: 0.5rem 0 0 0;
}
